* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.btn {
  text-decoration: none;
  font-weight: 500;
  text-transform: capitalize;
}

.header {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding-top: 56px;
  margin-bottom: 63px;
}

.logo {
  height: 49px;
  width: 176px;
}

.header-btns {
  display: flex;
  gap: 47px;
}

.btn-sign {
  font-size: 18px;

  background: none;
  border: none;
}

.btn-log {
  font-size: 18px;

  background: #7f83ff;
  border-radius: 20px;
  height: 42px;
  width: 123px;
  justify-content: center;
  align-items: center;
  border: solid 2px #7f83ff;
}

.headline {
  text-align: center;
  padding-bottom: 602px;
  background-image: url(../img/bg@3x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top 444px;
}

.headline-title {
  font-size: 45px;
  font-weight: 700;
  text-transform: capitalize;

  margin-bottom: 21px;
}

.headline-subtitle {
  font-size: 26px;
  line-height: 1.54;

  max-width: 798px;
  margin: 0 auto 50px;
}

.headline-btns {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.headline-btn {
  height: 55px;
  min-width: 151px;
  font-size: 25px;
  border: solid 2px #4a4edd;
  border-radius: 8px;
}

.btn-contained_iris {
  background: #4a4edd;
  color: #ffffff;
}

.btn-outlined {
  background: transparent;
  color: #4a4edd;
}
