* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: sans-serif;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.btn {
  text-decoration: none;
  font-weight: 500;
  text-transform: capitalize;
}

.header {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding-top: 56px;
  margin-bottom: 63px;
}

.logo {
  height: 49px;
  width: 176px;
}

.header-btns {
  display: flex;
  gap: 47px;
}

.btn-sign {
  font-size: 18px;

  background: none;
  border: none;
}

.btn-log {
  font-size: 18px;

  color: #ffffff;
  background: #7f83ff;
  border-radius: 20px;
  height: 42px;
  width: 123px;
  justify-content: center;
  align-items: center;
  border: solid 2px #7f83ff;
}

.headline {
  text-align: center;
  padding-bottom: 602px;
  background-image: url(../img/bg@3x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top 444px;
  margin-bottom: 177px;
}

.headline-title {
  font-size: 45px;
  font-weight: 700;
  text-transform: capitalize;

  margin-bottom: 21px;
}

.headline-subtitle {
  font-size: 26px;
  line-height: 1.54;

  max-width: 798px;
  margin: 0 auto 50px;
}

.headline-btns {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.headline-btn {
  height: 55px;
  min-width: 151px;
  font-size: 25px;
  border: solid 2px #4a4edd;
  border-radius: 8px;
}

.btn-contained_iris {
  background: #4a4edd;
  color: #ffffff;
}

.btn-outlined {
  background: transparent;
  color: #4a4edd;
}

.hire-section {
  justify-content: center;
  text-align: center;
}

.h2 {
  font-size: 40px;
  margin-bottom: 71px;
  text-transform: capitalize;
}

.hire-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 127px;
}

.btn-list-item {
  display: flex;
  justify-content: center;
  width: 276px;
  border-bottom: solid 3px lightgray;
  padding-bottom: 43px;
  gap: 23px;
}

.btn-list-item_active {
  border-bottom: solid 3px #7796fe;
  color: #7796fe;
}

.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  border-radius: 50%;
}

.img-box_post {
  background: #7796fe;
}

.img-box_applied {
  background: #fecece;
}

.img-box_assigned {
  background: #c8e4cb;
}

.hire-btn {
  font-size: 22px;
  letter-spacing: 0.17px;

  color: inherit;
  background: transparent;
  border: none;
  align-items: center;
}

.hire-btn_active .img {
  background: #7796fe;
}

.desc__left {
  display: flex;

  background-repeat: no-repeat;
  background-position-x: right;
}

.hire-desc__left {
  background-image: url(../img/group-145@3x.png);
  background-size: 679px 610px;
  padding: 51px 0 254px 120px;
  margin-bottom: 91px;
}

.content-holder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 21px;
  width: 709px;
}

.desc-heading {
  text-transform: capitalize;
  margin-bottom: 15px;
  color: #ffffff;
  font-size: 26px;
  font-weight: bold;
}
.desc-text {
  text-align: left;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.72;
}
.hire-desc__left .content-holder {
  width: 752px;
  padding: 49px 132px 56px 98px;
  background: #7796fe;
}

.desc__right {
  display: flex;
  flex-direction: row-reverse;
  background-repeat: no-repeat;
  background-position-x: left;
}

.hire-desc__right {
  background-image: url(../img/group-172@3x.png);
  background-size: 594px 756px;

  padding: 105px 92px 149px 0;
  margin-bottom: 106px;
}

.hire-desc__right .content-holder {
  padding: 153px 111px 87px 122px;
  background: #ff865b;
}

.work-section {
  justify-content: center;
  text-align: center;
}

.work-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 127px;
}

.work-list-item {
  display: flex;
  justify-content: center;
  width: 276px;
  border-bottom: solid 3px lightgray;
  padding-bottom: 43px;
  gap: 23px;
}

.work-list-item_active {
  border-bottom: solid 3px #fb1488;
  color: #fb1488;
}

.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  border-radius: 50%;
}

.work-img_jobs {
  background: #fb1488;
}

.work-img_applied {
  background: #b3f1f6;
}

.work-img_assigned {
  background: #b8b3c6;
}

.work-desc__left {
  background-image: url(../img/group-163@3x.png);
  background-size: 697px 621px;
  padding: 25px 0 155px 83px;
  margin-bottom: 195px;
}

.work-desc__left .content-holder {
  padding: 99px 154px 80px 79px;
  background: #8937dc;
}

.work-desc__right {
  background-image: url(../img/group-247@3x.png);
  background-size: 593px 806px;

  padding: 79px 92px 170px 0;
  margin-bottom: 249px;
}

.work-desc__right .content-holder {
  padding: 148px 81px 147px 132px;
  background: #7cca84;
}

.subscribe-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.subscribe-heading {
  color: #2f2d2d;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 27px;
  text-transform: capitalize;
}

.subscribe-text {
  color: #2f2d2d;
  font-size: 26px;
  line-height: 1.54;
  margin: 0 auto 68px;
  max-width: 750px;
}

.subscribe-slider {
  margin-bottom: 182px;
  width: 1076px;
  display: flex;
  flex-direction: row-reverse;
  background: #d8d8d8;
  border-radius: 8px;
}

.subscribe-btn {
  width: 283px;
  height: 95px;
  color: #ffffff;
  background: #130242;
  border-radius: 8px;
  border-color: #130242;
  text-transform: capitalize;
  font-size: 27px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.subscribe-arrow {
  width: 35px;
  margin-left: 25px;
}
